@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 30px;
  font-family: Poppins;
  overflow: hidden;
  background: rgb(68, 68, 68);
}

canvas {
  box-shadow: -3px 2px 9px 6px black;
}

.field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tools {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 15px;
}

.tools .color-field {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
  align-self: center;
  margin: 0 15px;
  margin-top: 5px;
}

.tools button {
  align-self: center;
  width: 100px;
  height: 40px;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  background: #222;
  font-weight: bold;
  margin: 0 15px;
  font-size: 2rem;
  margin-top: 5px;
}

.color-picker {
  align-self: centre;
  margin: 0 0;
  margin-right: 15px;
  width: 50px;
  height: 50px;
}
.picker i {
  color: white;
  align-self: centre;
  font-size: 2rem;
  justify-self: center;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 18%;
  left: 45%;
  pointer-events: none;
}
.tooltiptxt {
  visibility: hidden;
  display: inline-block;
  margin-left: -100px;
  margin-top: -35px;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.tooltiptxt-eraser {
  margin-left: -120px;
}
.tooltiptxt-bgcolors {
  width: 200px;
  margin-left: -130px;
}
.tooltiptxt-undo,
.tooltiptxt-clear {
  margin-left: -120px;
}
.color-picker:hover {
  cursor: pointer;
}
.color-picker:hover + .tooltiptxt-pen {
  visibility: visible;
}
.erase:hover + .tooltiptxt-eraser {
  visibility: visible;
}
.shape:hover + .tooltiptxt-shape {
  visibility: visible;
}

.color-field:hover + .tooltiptxt-bgcolors {
  visibility: visible;
}
.undo:hover + .tooltiptxt-undo {
  visibility: visible;
}
.clear:hover + .tooltiptxt-clear {
  visibility: visible;
}

.pen-range {
  align-self: center;
  margin: 0 10px;
}

.drawing {
  cursor: url("penpng.gif") 0 62, default;
  /* cursor: crosshair;*/
}
.erasing {
  cursor: url("eraserpng.png")0 24,default;
}
