@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  /* padding: 30px; */

  font-family: Poppins;
  overflow: hidden;
  background: rgb(68, 68, 68);
}

canvas {
  z-index: 1;
}

.field {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.tools {
  margin: 0 0%;
  position: absolute;
  height: 8%;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  bottom: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  z-index: 2;
  background: rgba(255, 255, 255, 0.76);
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: -3px 1px 4px 3px rgb(87, 87, 87);
}
.bg-colors {
  width: 17%;
  display: flex;
  justify-content: space-around;
  padding: 0.6% 0%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  /* background-color: yellow; */
}
.tools .color-field {
  height: 80%;
  width: 12%;
  cursor: pointer;
  /* display: inline-block; */

  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.479);
  align-self: center;
}

.btn-container {
  width: 30%;
  display: flex;
  justify-content: space-around;
  padding: 0% 0%;
  /* background-color: yellow; */
}

.tools button {
  align-self: center;
  height: 80%;
  width: 200%;
  border: 2px solid black;
  cursor: pointer;
  color: black;
  background: white;
  font-weight: bold;
  font-size: 2rem;
  margin: 25% 0%;
  z-index: 4;
}

.picker {
  width: 6%;
  height: 60%;
  display: flex;
  justify-content: left;
  /* background-color: yellow; */

  margin: 0% 0%;
  padding: 0.3% 0%;
  z-index: 2;
}

.color-picker {
  align-self: centre;
  margin: 0 0;
  margin: 0% 10%;
  width: 200%;
  height: 200%;
  z-index: 2;
}

.picker i {
  position: absolute;
  color: white;
  align-self: centre;
  font-size: 2rem;
  justify-self: center;
  margin: 0.8% -3.8%;
  padding: 0 0%;
  pointer-events: none;
  z-index: 3 !important;
}
.tooltiptxt {
  visibility: visible;
  display: inline-block;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0% 0.5%;
  /* Position the tooltip text - see examples below! */

  position: absolute;
  z-index: 1;
}
.tooltiptxt-pen {
  visibility: hidden;
  margin-top: -2%;
}
.tooltiptxt-eraser {
  margin-top: -5.7%;
  margin-left: -2%;
  visibility: hidden;
  color: yellow;
}
.tooltiptxt-bgcolors {
  margin-left: 1%;
  margin-top: -14.3%;
  visibility: visible;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  background-color: white;
}
.tooltiptxt-undo {
  margin-top: -5.7%;
  margin-left: -4%;
  visibility: hidden;
  color: yellow;
}
.tooltiptxt-clear {
  margin-top: -5.7%;
  visibility: hidden;
  color: yellow;
}
.tooltiptxt-shape {
  margin-top: -5.7%;
  margin-left: -3.2%;
  color: yellow;
  visibility: hidden;
}
.tooltiptxt-text {
  margin-top: -5.5%;
  margin-left: -3.2%;
  color: yellow;
  visibility: hidden;
}
.tooltiptxt-save {
  margin-top: 97%;
  margin-left: -150%;
  width: 170%;
  color: yellow;
  visibility: hidden;
}
.save:hover + .tooltiptxt-save {
  visibility: visible;
}

.color-picker:hover {
  cursor: pointer;
}
.color-picker:hover + .tooltiptxt-pen {
  visibility: visible;
  color: yellow;
}
.erase:hover + .tooltiptxt-eraser {
  visibility: visible;
}
.shape-btn:hover + .tooltiptxt-shape {
  visibility: visible;
}
.add-txt:hover + .tooltiptxt-text {
  visibility: visible;
}

.color-field:hover + .tooltiptxt-bgcolors {
  visibility: visible;
}
.undo:hover + .tooltiptxt-undo {
  visibility: visible;
}
.clear:hover + .tooltiptxt-clear {
  visibility: visible;
}

.pen-range {
  align-self: center;
  margin: 0 10px;
}

.drawing {
  cursor: url("penpng.gif") 0 62, default;
  /* cursor: crosshair;*/
}
.erasing {
  cursor: url("eraserpng.png") 0 24, default;
}
.typing {
  cursor: url("txtBox.png") 30 30, default;
}
.pen-range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}
.range{
  height: 80px;
  width: 380px;
  background:#fff;
  border-radius: 10px;
  padding: 0 65px 0 45px;
}
.range .sliderValue{
  position:relative;
  width:100%;
}
.range .sliderValue span{
  position: absolute;
  height:45px;
  width:380px;
  color: white;
  font-weight: 500;
  top: -40px;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
  line-height: 55px;
  z-index: 4;
}
.range .sliderValue span.show{
  transform: translateX(-50%) scale(1);
}
.range .sliderValue span:after{
  position: absolute;
  content: "";
  height:45px;
  width:45px;
  background: gray;
  left:50%;
  transform: translateX(-50%) rotate(45deg);
  border:solid 3px #fff;
  z-index: -1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.range .fieeld{
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.range .fieeld .value{
  position:absolute;
  font-size:18px;
  font-weight:600;
  color: black;
}
.range .fieeld .value.left{
  left: -22px;
}
.range .fieeld .value.right{
  right: -43px;
}
.range .fieeld input{
  -webkit-appearance: none;
  height:3px;
  background:#ddd;
  border-radius: 5px;
  outline:none;
  border:none;
  width:100%;
}
.range .fieeld input::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: black;
  border-radius: 50%;
  border: 1px solid #664AFF;
  cursor: pointer;
}
i {
  pointer-events: none;
}
.save-container {
  width: 4%;
  height: 8%;
  position: fixed;
  top: 1%;
  right: 2%;
  z-index: 5;
}
.save {
  height: 100%;
  width: 100%;
  background-image: url("save_btn.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border: none;
  background-color: white;
}
