@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  /* padding: 30px; */
  font-family: Poppins;
  overflow: hidden;
  background: rgb(68, 68, 68);
}

canvas {
  z-index: 1;
}

.field {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.tools {
  margin: 0 0%;
  position: fixed;
  height: 8%;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  z-index: 2;
  background: rgb(117, 117, 117);
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: -3px 2px 9px 6px black;
}
.bg-colors {
  width: 17%;
  display: flex;
  justify-content: space-around;
  padding: 0.6% 0%;
  /* background-color: yellow; */
}
.tools .color-field {
  height: 80%;
  width: 12%;
  cursor: pointer;
  /* display: inline-block; */
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid white;
  align-self: center;
}

.btn-container {
  width: 30%;
  display: flex;
  justify-content: space-around;
  padding: 0% 0%;
  /* background-color: yellow; */
}

.tools button {
  align-self: center;
  height: 80%;
  width: 200%;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  background: #222;
  font-weight: bold;
  font-size: 2rem;
  margin: 25% 0%;
}

.picker {
  width: 6%;
  height: 60%;
  display: flex;
  justify-content: left;
  /* background-color: yellow; */
  margin: 0% 0%;
  padding: 0.3% 0%;
  z-index: 2;
}

.color-picker {
  align-self: centre;
  margin: 0 0;
  margin: 0% 10%;
  width: 200%;
  height: 200%;
  z-index: 2;
}
.picker i {
  position: absolute;
  color: white;
  align-self: centre;
  font-size: 2rem;
  justify-self: center;
  margin: 0.8% -3.8%;
  padding: 0 0%;
  pointer-events: none;
  z-index: 3 !important;
}
.tooltiptxt {
  visibility: visible;
  display: inline-block;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0% 0.5%;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.tooltiptxt-pen {
  visibility: hidden;
  margin-top: -2%;
}
.tooltiptxt-eraser {
  margin-top: -5.7%;
  margin-left: -2%;
  visibility: hidden;
  color: yellow;
}
.tooltiptxt-bgcolors {
  margin-left: 1%;
  margin-top: -2.3%;
  visibility: hidden;
  color: yellow;
}
.tooltiptxt-undo {
  margin-top: -5.7%;
  margin-left: -4%;
  visibility: hidden;
  color: yellow;
}
.tooltiptxt-clear {
  margin-top: -5.7%;
  visibility: hidden;
  color: yellow;
}
.tooltiptxt-shape {
  margin-top: -5.7%;
  margin-left: -3.2%;
  color: yellow;
  visibility: hidden;
}
.tooltiptxt-text {
  margin-top: -5.5%;
  margin-left: -3.2%;
  color: yellow;
  visibility: hidden;
}
.color-picker:hover {
  cursor: pointer;
}
.color-picker:hover + .tooltiptxt-pen {
  visibility: visible;
  color: yellow;
}
.erase:hover + .tooltiptxt-eraser {
  visibility: visible;
}
.shape-btn:hover + .tooltiptxt-shape {
  visibility: visible;
}
.add-txt:hover + .tooltiptxt-text {
  visibility: visible;
}

.color-field:hover + .tooltiptxt-bgcolors {
  visibility: visible;
}
.undo:hover + .tooltiptxt-undo {
  visibility: visible;
}
.clear:hover + .tooltiptxt-clear {
  visibility: visible;
}

.pen-range {
  align-self: center;
  margin: 0 10px;
}

.drawing {
  cursor: url("penpng.gif") 0 62, default;
  /* cursor: crosshair;*/
}
.erasing {
  cursor: url("eraserpng.png") 0 24, default;
}

.pen-range {
  -webkit-appearance: none;
  width: 12%;
  height: 20%;
  background: #ffffff;
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.8s;
}

.pen-range:hover {
  opacity: 1;
}

.pen-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12%;
  height: 20px;
  background: #646464;
  border: 3px solid white;
  border-radius: 25%;
  cursor: pointer;
}

.pen-range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}
